@import "../variables.scss";

.card {
  width: 48%;

  border-radius: 8px;

  margin-bottom: 56px;

  display: flex;
  flex-direction: column;

  &_hero {
    width: 100%;
    border-radius: 6px 6px 0 0;
    transition: opacity .3s;
    opacity: 0.88;
    margin-bottom: 8px;

    &:hover {
      opacity: 1;
    }
  }

  &_meta {
    padding: 4px;
  }

  &_description {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  &_time {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-right: 1em;

    &>svg {
      margin-right: 0.1em;
    }
  }

  &_title {
    font-size: 1.6rem;
    line-height: 1.2;
    margin: 8px 0;
    color: $head-line-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &_tags {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    color: darken(#26a6ed, 10);
    
    &>li {
      opacity: 0.8;
      margin-right: 0.8em;
      text-decoration: solid;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}