.tag {

  &>a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 4px 14px;
    border: 1px solid #fff;
    transition: background-color .3s;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}